name: "Quality Checks"

on:
  pull_request:
    types: [ "opened", "reopened", "synchronize" ]
  workflow_dispatch: {}

env:
  MAVEN_SETTINGS: ${{ secrets.MAVEN_SETTINGS }}
  MAVEN_SETTINGS_SECURITY: ${{ secrets.MAVEN_SETTINGS_SECURITY }}

jobs:
  run-tests:
    if: github.event.pull_request.merged == false
    runs-on: docker
    steps:
      - name: "Setup"
        uses: dedalus-cis4u/with-standard-setup@v2.0.15
        with:
          git-checkout: 'all'
          maven: true
          java: 21

      - name: "Run tests"
        run: mvn -ntp clean verify

      - name: "Upload coverage report"
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: jacoco-report-aggregate/target/site/jacoco-aggregate/jacoco.xml
          if-no-files-found: error

  run-sonar:
    needs: run-tests
    runs-on: docker
    steps:
      - name: "Setup"
        uses: dedalus-cis4u/with-standard-setup@v2.0.15
        with:
          maven: true
          java: 21

      - name: "Download coverage report"
        uses: actions/download-artifact@v4
        with:
          name: coverage
          path: coverage

      - name: "Run SonarQube Analysis"
        run: |
          mvn sonar:sonar \
            -Dsonar.coverage.jacoco.xmlReportPaths=coverage/jacoco.xml -Dsonar.projectKey=Testproject -Dsonar.host.url=https://sonarqube.orbis.dedalus.com/central-prod
